// Colores principales
$colors: (
  fondo-body: #000000,
  fondo-header: rgb(23, 23, 139),
  fondo-footer: rgb(23, 23, 139),
  button-color: #af0606,
  white: white,
  black: black,
  grey: #1a1a1a,
  blue: #4A4CD4,
  highlight: rgb(204, 173, 0)
);

// Fuentes
$fonts: (
  header-font: 'Roboto Condensed', sans-serif
  body-font: 'Lucida Sans', sans-serif,
  title-font: 'Gill Sans', sans-serif
);

// Font sizes
$font-sizes: (
  small: 14px,
  medium: 16px,
  large: 20px,
  x-large: 50px
);


