// Mixin para botones
@mixin button($bg-color, $text-color: white) {
    background-color: $bg-color;
    color: $text-color;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
  }
  
  // Mixin para border-radius
  @mixin border-radius($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
  }
  
  // Mixin para flexbox
  @mixin flex-center($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
  }
  